<!-- hired_by_quarter.html -->
<table>
    <thead>
        <tr>
            <th>Department</th>
            <th>Job</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.department }}</td>
            <td>{{ row.job }}</td>
            <td>{{ row.Q1 }}</td>
            <td>{{ row.Q2 }}</td>
            <td>{{ row.Q3 }}</td>
            <td>{{ row.Q4 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
